:root {
  --faded-out-petal-opacity: 0.4;
  --legend-width-when-large: 200px;
}

.faded-out {
  opacity: var(--faded-out-petal-opacity);
}

.petal {
  transition: opacity 100ms linear;
}

svg.graph {
  height: 100%;
}

.sorting-option {
  transition: all 200ms ease;
  cursor: pointer;
}

.sorting-option:hover {
  text-decoration: underline;
}

.sorting-option.active {
  font-weight: bold;
}

.flower .arrow {
  opacity: 0;
}

.flower text {
  cursor: pointer;
}

.flower.selected {
  & text {
    fill: #b79a00 !important;
    stroke: #8f9800;
    stroke-width: 0.5;
  }
  & .stem {
    stroke: goldenrod;
    opacity: 1;
  }
  & .arrow {
    opacity: 1;
  }
}

.legend-flower .petal path {
  cursor: pointer;
}

@media (min-width: 480px) and (max-width: 1023px) {
  svg.legend {
    width: 100%;
  }

  svg.graph {
    width: 100%;
  }

  .legend-flower {
    display: none;
  }
}

@media (min-width: 1024px) {
  svg.legend {
    width: var(--legend-width-when-large);
    height: 100%;
  }

  svg.graph {
    width: calc(100% - var(--legend-width-when-large));
  }
}
