.navbar-brand {
  font-family: "Handlee", cursive;
}

.author {
  color: white;
}

#main-visualization {
  box-sizing: border-box;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInNyYy9tYWluLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNFLGdDQUFnQztDQUNqQzs7QUFFRDtFQUNFLGFBQWE7Q0FDZDs7QUFFRDtFQUNFLHVCQUF1QjtDQUN4QiIsImZpbGUiOiJtYWluLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi5uYXZiYXItYnJhbmQge1xuICBmb250LWZhbWlseTogXCJIYW5kbGVlXCIsIGN1cnNpdmU7XG59XG5cbi5hdXRob3Ige1xuICBjb2xvcjogd2hpdGU7XG59XG5cbiNtYWluLXZpc3VhbGl6YXRpb24ge1xuICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xufVxuIl19 */