.faded-out {
  opacity: 0.4;
}

.petal {
  transition: opacity 100ms linear;
}

svg.graph {
  height: 100%;
}

.sorting-option {
  transition: all 200ms ease;
  cursor: pointer;
}

.sorting-option:hover {
  text-decoration: underline;
}

.sorting-option.active {
  font-weight: bold;
}

.flower .arrow {
  opacity: 0;
}

.flower text {
  cursor: pointer;
}

.flower.selected {
}

.flower.selected text {
  fill: #b79a00 !important;
  stroke: #8f9800;
  stroke-width: 0.5;
}

.flower.selected .stem {
  stroke: goldenrod;
  opacity: 1;
}

.flower.selected .arrow {
  opacity: 1;
}

.legend-flower .petal path {
  cursor: pointer;
}

@media (min-width: 480px) and (max-width: 1023px) {
  svg.legend {
    width: 100%;
  }

  svg.graph {
    width: 100%;
  }

  .legend-flower {
    display: none;
  }
}

@media (min-width: 1024px) {
  svg.legend {
    width: 200px;
    height: 100%;
  }

  svg.graph {
    width: calc(100% - 200px);
  }
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInNyYy9wZXRhbGxpYy5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBS0E7RUFDRSxhQUF3QztDQUN6Qzs7QUFFRDtFQUNFLGlDQUFpQztDQUNsQzs7QUFFRDtFQUNFLGFBQWE7Q0FDZDs7QUFFRDtFQUNFLDJCQUEyQjtFQUMzQixnQkFBZ0I7Q0FDakI7O0FBRUQ7RUFDRSwyQkFBMkI7Q0FDNUI7O0FBRUQ7RUFDRSxrQkFBa0I7Q0FDbkI7O0FBRUQ7RUFDRSxXQUFXO0NBQ1o7O0FBRUQ7RUFDRSxnQkFBZ0I7Q0FDakI7O0FBRUQ7Q0FhQzs7QUFaQztFQUNFLHlCQUF5QjtFQUN6QixnQkFBZ0I7RUFDaEIsa0JBQWtCO0NBQ25COztBQUNEO0VBQ0Usa0JBQWtCO0VBQ2xCLFdBQVc7Q0FDWjs7QUFDRDtFQUNFLFdBQVc7Q0FDWjs7QUFHSDtFQUNFLGdCQUFnQjtDQUNqQjs7QUFFRDtFQUNFO0lBQ0UsWUFBWTtHQUNiOztFQUVEO0lBQ0UsWUFBWTtHQUNiOztFQUVEO0lBQ0UsY0FBYztHQUNmO0NBQ0Y7O0FBRUQ7RUFDRTtJQUNFLGFBQXNDO0lBQ3RDLGFBQWE7R0FDZDs7RUFFRDtJQUNFLDBCQUFtRDtHQUNwRDtDQUNGIiwiZmlsZSI6InBldGFsbGljLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIjpyb290IHtcbiAgLS1mYWRlZC1vdXQtcGV0YWwtb3BhY2l0eTogMC40O1xuICAtLWxlZ2VuZC13aWR0aC13aGVuLWxhcmdlOiAyMDBweDtcbn1cblxuLmZhZGVkLW91dCB7XG4gIG9wYWNpdHk6IHZhcigtLWZhZGVkLW91dC1wZXRhbC1vcGFjaXR5KTtcbn1cblxuLnBldGFsIHtcbiAgdHJhbnNpdGlvbjogb3BhY2l0eSAxMDBtcyBsaW5lYXI7XG59XG5cbnN2Zy5ncmFwaCB7XG4gIGhlaWdodDogMTAwJTtcbn1cblxuLnNvcnRpbmctb3B0aW9uIHtcbiAgdHJhbnNpdGlvbjogYWxsIDIwMG1zIGVhc2U7XG4gIGN1cnNvcjogcG9pbnRlcjtcbn1cblxuLnNvcnRpbmctb3B0aW9uOmhvdmVyIHtcbiAgdGV4dC1kZWNvcmF0aW9uOiB1bmRlcmxpbmU7XG59XG5cbi5zb3J0aW5nLW9wdGlvbi5hY3RpdmUge1xuICBmb250LXdlaWdodDogYm9sZDtcbn1cblxuLmZsb3dlciAuYXJyb3cge1xuICBvcGFjaXR5OiAwO1xufVxuXG4uZmxvd2VyIHRleHQge1xuICBjdXJzb3I6IHBvaW50ZXI7XG59XG5cbi5mbG93ZXIuc2VsZWN0ZWQge1xuICAmIHRleHQge1xuICAgIGZpbGw6ICNiNzlhMDAgIWltcG9ydGFudDtcbiAgICBzdHJva2U6ICM4Zjk4MDA7XG4gICAgc3Ryb2tlLXdpZHRoOiAwLjU7XG4gIH1cbiAgJiAuc3RlbSB7XG4gICAgc3Ryb2tlOiBnb2xkZW5yb2Q7XG4gICAgb3BhY2l0eTogMTtcbiAgfVxuICAmIC5hcnJvdyB7XG4gICAgb3BhY2l0eTogMTtcbiAgfVxufVxuXG4ubGVnZW5kLWZsb3dlciAucGV0YWwgcGF0aCB7XG4gIGN1cnNvcjogcG9pbnRlcjtcbn1cblxuQG1lZGlhIChtaW4td2lkdGg6IDQ4MHB4KSBhbmQgKG1heC13aWR0aDogMTAyM3B4KSB7XG4gIHN2Zy5sZWdlbmQge1xuICAgIHdpZHRoOiAxMDAlO1xuICB9XG5cbiAgc3ZnLmdyYXBoIHtcbiAgICB3aWR0aDogMTAwJTtcbiAgfVxuXG4gIC5sZWdlbmQtZmxvd2VyIHtcbiAgICBkaXNwbGF5OiBub25lO1xuICB9XG59XG5cbkBtZWRpYSAobWluLXdpZHRoOiAxMDI0cHgpIHtcbiAgc3ZnLmxlZ2VuZCB7XG4gICAgd2lkdGg6IHZhcigtLWxlZ2VuZC13aWR0aC13aGVuLWxhcmdlKTtcbiAgICBoZWlnaHQ6IDEwMCU7XG4gIH1cblxuICBzdmcuZ3JhcGgge1xuICAgIHdpZHRoOiBjYWxjKDEwMCUgLSB2YXIoLS1sZWdlbmQtd2lkdGgtd2hlbi1sYXJnZSkpO1xuICB9XG59XG4iXX0= */